.container {
    background-image: url(../images/bg-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container__cards {
    max-width: 1020px;
    flex-direction: row;
}

.container__fylo {
    width: 40%;
    max-width: 347px;
    margin-right: 30px;
}

.container__storage {
    position: relative;
    width: 60%;
    max-width: 533px;
}

.container__storage--title {
    font-size: 2rem;
}

.container__storage--numbers p {
    font-size: 1.6rem;
}

.container__storage--box {
    position: absolute;
    top: calc(50% - 120px);
    left: calc(90% - 180px);
    padding: 14px;
}