.container {
    background-image: url(../images/bg-desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container__cards {
    max-width: 1020px;
    flex-direction: row;
}

.container__fylo {
    width: 40%;
    margin-right: 30px;
}

.container__storage {
    width: 60%;
}

.container__storage--title {
    font-size: 2rem;
}

.container__storage--numbers p {
    font-size: 1.6rem;
}

.container__storage--box {
    top: calc(50% - 132px);
    left: 70%;
    padding: 14px;
}